// COLORS VARIABLE

// ##Primary

$light-red-txt: #ff5757;
$light-red-bg: #ff57573a;
$orangey-yellow-txt: #ffb01f;
$orangey-yellow-bg: #ffb01f3a;
$green-teal-txt: #00bd91;
$green-teal-bg: #00bd913a;
$cobalt-blue-txt: #1125d4;
$cobalt-blue-bg: #1125d43a;

// ## Gradients

$light-slate-blue-background: #7857ff;
$light-royal-blue-background: #2e2be9;

$violet-blue-circle: #4e21ca;
$persian-blue-circle: #2421ca00;



// ## Neutral

$white: #ffffff;
$pale-blue: #ebf1ff;
$light-lavender: #c8c7ff;
$dark-gray-blue: #303b5a;
$dark-gray-blue-two: #303b5a9a;